img.criteria {
  width: 30%;
  float: left;
  margin: 1.66%;
}

p.criteria {
  width: 30%;
  float: left;
  margin: 1.66%;
  text-align: center;
}
img.criteria:hover {
  opacity: 0.5;
}

p.title {
  font-family: Raleway;
  margin-left: 1.66%;
  font-size: 23px;
  font-weight: 800;
  text-transform: uppercase;
  width: 60%;
  border-bottom: 2px solid #f1f1f1;
  padding-bottom: 20px;
  padding-top: 25px;
}

.overlay:hover {
  opacity: 0.5;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

 .plot {
   width: 50%;
   padding-bottom: 50px;
 }

 .description {
   text-align: center;
   background: rgba(1,1,1,1);
   padding: 20px;
   margin-bottom: 40px;
   border-radius: 15px;
 }

 .subtitle {
   font-family: Raleway;
   font-weight: 800;
 }

 .jumbotron {
   color: #2c3e50;
   background: #ecf0f1;
   margin-top: 35px;
 }
 h1 {
   font-family: 'Montserrat', sans-serif;
   font-size: 4.5em !important;
 }
 p.desc {
   font-family: 'Montserrat', sans-serif;

 }
